.advantages__container {
  padding: 0 20px;
  width: 320px;
  margin: 0 auto;
  box-sizing: border-box;
}

@media (min-width: $tablet-width) {
  .advantages__container {
    padding: 0 30px;
    width: 768px;
  }
}

@media (min-width: $desktop-width) {
  .advantages__container {
    padding: 0 40px;
    width: 1300px;
  }
}

.advantages {
  margin-bottom: 17px;
}

@media (min-width: $tablet-width) {
  .advantages {
    counter-reset: itemNum;
    margin-bottom: 35px;
  }
}

.advantages__title {
  margin: 0 0 28px;
  font-weight: 400;
  font-size: 36px;
  line-height: 60px;
  color: $title-color;
}

@media (min-width: $tablet-width) {
  .advantages__title {
    margin: 0 0 70px;
    font-size: 60px;
    line-height: 60px;
  }
}

.advantages__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
}

@media (min-width: $tablet-width) {
  .advantages__list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.advantages__item {
  align-items: center;
  color: $content-color;
  display: flex;
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 27px;
  padding-left: 80px;
  position: relative;
}

@media (min-width: $tablet-width) {
  .advantages__item {
    font-size: 16px;
    line-height: 24px;
    margin: 0 0 97px;
    padding: 114px 75px 0 0;
    width: 250px;
  }
}

@media (min-width: $desktop-width) {
  .advantages__item {
    margin-bottom: 20px;
    padding: 115px 0 50px;
    width: 245px;
  }
}

@media (min-width: $tablet-width) {
  .advantages__item::after {
    counter-increment: itemNum;
    content: counter(itemNum);
    position: absolute;
    z-index: -1;
    top: -40px;
    left: 120px;
    width: 70px;
    height: 230px;
    font-family: "Oswald Regular", "Arial", sans-serif;
    font-size: 281px;
    line-height: 281px;
    color: $bg-color;
  }
}

.advantages__item::before {
  background-color: $base-color;
  background-position: center;
  background-repeat: no-repeat;
  content: "";
  height: 60px;
  left: 0;
  position: absolute;
  top: 50%;
  width: 60px;
  transform: translateY(-50%);
}

@media (min-width: $tablet-width) {
  .advantages__item::before {
    height: 80px;
    top: 0;
    width: 80px;
    transform: translateY(0);
  }
}

.advantages__item--leaf::before {
  background-image: url("../img/advantage-leaf@1x.png");
}

@media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
  .advantages__item--leaf::before {
    background-image: url("../img/advantage-leaf@2x.png");
    background-size: 60px auto;
  }
}

.advantages__item--powder::before {
  background-image: url("../img/advantage-powder@1x.png");
}

@media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
  .advantages__item--powder::before {
    background-image: url("../img/advantage-powder@2x.png");
    background-size: 60px auto;
  }
}

.advantages__item--dining::before {
  background-image: url("../img/advantage-dining@1x.png");
}

@media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
  .advantages__item--dining::before {
    background-image: url("../img/advantage-dining@2x.png");
    background-size: 60px auto;
  }
}

.advantages__item--clock::before {
  background-image: url("../img/advantage-clock@1x.png");
}

@media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
  .advantages__item--clock::before {
    background-image: url("../img/advantage-clock@2x.png");
    background-size: 60px auto;
  }
}
