
.catalog__title {
  margin-top: 15px;
  margin-bottom: 27px;
  font-weight: 400;
  font-size: 36px;
  line-height: 60px;
  color: rgb(17, 17, 17);
}

.catalog__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.product {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  padding-bottom: 22px;
}

