.contacts {
  background-color: $bg-color;
}

.contacts--index {
  background-color: rgb(255, 255, 255);
}

@media (min-width: $desktop-width) {
  .contacts {
  position: relative;
  }
}

.contacts__header {
  display: flex;
  padding: 30px 20px 25px;
  box-sizing: border-box
}

.contacts__container {
  display: flex;
  padding: 30px 20px;
  margin: 0 auto;
  box-sizing: border-box;
  width: 320px;
}

@media (min-width: $tablet-width) {
  .contacts__container {
      padding: 64px 30px 56px;
      width: 768px;
  }
}

@media (min-width: $desktop-width) {
  .contacts__container {
    position: absolute;
    z-index: 2;
    box-sizing: border-box;
    width: 570px;
    padding: 45px 75px 55px;
    left: 260px;
    top: 115px;
  }
}

.contacts__address,
.contacts__item {
  line-height: 20px;
  margin-top: 0;
  margin-bottom: 0;
  width: 140px;
}

.contacts__item {
  text-transform: uppercase;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  color: $title-color;
}

@media (min-width: $tablet-width) {
  .contacts__item {
    font-size: 20px;
    line-height: 25px;
    width: 170px;
  }
}

.contacts__address br {
  display: none;
}

@media (min-width: $tablet-width) {
  .contacts__address br {
    display: block;
  }
}

.contacts__address {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  color: $content-color;
  margin-left: auto;
}

@media (min-width: $tablet-width) {
  .contacts__address {
    font-size: 16px;
    width: 170px;
    text-align: right;
  }
}

@media (min-width: $desktop-width) {
  .contacts__address {
  text-align: left;
  }
}


.contacts__map {
  background-color: $bg-color;
  background-image: url(../img/bg-map-mobile@1x.png);
  background-repeat: no-repeat;
  background-position: center;
  min-width: 320px;
  height: 365px;
}

@media (min-width: $tablet-width) {
  .contacts__map {
    background-image: url(../img/bg-map-tablet@1x.png);
    height: 400px;
  }
}

@media (min-width: $desktop-width) {
  .contacts__map {
    background-image: url(../img/bg-map-desktop@1x.png);
  }
}

@media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
  .contacts__map {
      background-image: url(../img/bg-map-mobile@2x.png);
      background-size: 100% auto;
  }
}

@media (min-width: $tablet-width) and (min-resolution: $retina-dpi),
(min-width: $tablet-width) and (min-resolution: $retina-dppx) {
  .contacts__map {
      background-image: url(../img/bg-map-tablet@2x.png);
      background-size: 100% auto;
  }
}

@media (min-width: $desktop-width) and (min-resolution: $retina-dpi),
(min-width: $desktop-width) and (min-resolution: $retina-dppx) {
  .contacts__map {
      background-image: url(../img/bg-map-desktop@2x.png);
      background-size: 100% auto;
  }
}

