.copyright {
  background-color: $bg-color;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.copyright__link {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  color: $content-color;
}
