.copyright {
  background-color: $bg-color;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 0;
}

@media (min-width: $tablet-width) {
  .copyright {
    padding: 26px 0;
  }
}


.copyright__link {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  color: $content-color;
}

@media (min-width: $tablet-width) {
  .copyright__link {
    width: 124px;
  }
}

.copyright__link:active {
  opacity: 0.3;
}

.copyright__link-logo .copyright__logo-svg {
  fill: $content-color;
}

.copyright__link-logo:active .copyright__logo-svg {
  fill: $base-color;
  opacity: 0.3;
}

.copyright__link-logo:focus .copyright__logo-svg,
.copyright__link-logo:hover .copyright__logo-svg {
  fill: $base-color;
}
