.example {
  background-color: $bg-color;
  display: flex;
  flex-direction: column;
  margin-top: 22px;
  padding-bottom: 37px;
  padding-top: 17px;
}

.example__title {
  margin: 0 0 25px;
  font-weight: 400;
  font-size: 36px;
  line-height: 60px;
  color: $title-color;
}

.example__content {
  margin-bottom: 27px;
  padding-right: 5px;
  font-size: 14px;
  line-height: 18px;
  font-family: "Arial", "Helvetica", sans-serif;
  color: $content-color;
}
