.example {
  background-color: $bg-color;
}

@media (min-width: $tablet-width) {
  .example {
    background-color: rgb(255, 255, 255);
    background-image: linear-gradient(rgb(255, 255, 255) 0%, rgb(255, 255, 255) 57%, $bg-color 50%, $bg-color 100%);
    border-top: 1px solid rgb(230, 230, 230);
  }
}

@media (min-width: $desktop-width) {
  .example {
    background-image: linear-gradient(rgb(255, 255, 255) 0%, rgb(255, 255, 255) 27%, $bg-color 26%, $bg-color 100%);
    display: flex;
    min-height: 590px;
    border: 0;
    padding-bottom: 30px;
  }
}

.example__container {
  padding: 0 20px 36px;
  margin: 0 auto;
  width: 320px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

@media (min-width: $tablet-width) {
  .example__container {
    padding: 0 30px 70px;
    width: 768px;
  }
}

@media (min-width: $desktop-width) {
  .example__container {
    padding: 0 40px;
    width: 1300px;
    flex-direction: row;
  }
}

@media (min-width: $desktop-width) {
  .example__desktop-wrapper {
    width: 50%;
  }
}

.example__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  color: $title-color;
  margin: 0 0 23px;
  padding-top: 17px;
}

@media (min-width: $tablet-width) {
  .example__title {
    font-size: 60px;
    line-height: 60px;
    padding-top: 44px;
    margin-bottom: 65px;
  }
}

@media (min-width: $desktop-width) {
  .example__title {
    margin-bottom: 146px;
    padding-top: 25px;
  }
}

.example__content {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: $title-color;
  margin: 0 0 25px;
  padding-right: 1px;
}

@media (min-width: $tablet-width) {
  .example__content {
    font-size: 16px;
    line-height: 24px;
    width: 700px;
    margin-bottom: 52px;
  }
}

@media (min-width: $desktop-width) {
  .example__content {
    margin-bottom: 68px;
    width: 435px;
  }
}


@media (min-width: $tablet-width) {
  .example__wrapper {
    display: flex;
  }
}

@media (min-width: $desktop-width) {
  .example__wrapper {
    width: 435px;
    flex-wrap: wrap;
  }
}

.example__list {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
  margin: 0 0 33px;
}

@media (min-width: $desktop-width) {
  .example__list {
    margin-bottom: 48px;
  }
}

.example-item {
  position: relative;
  width: 122px;
  text-align: center;
  padding: 13px 0 18px;
  border: 1px solid rgb(205, 205, 205);
  border-radius: 5px;
}

@media (min-width: $tablet-width) {
  .example__item {
    margin-right: 40px;
    width: 160px;
  }
}

@media (min-width: $desktop-width) {
  .example-item {
    width: 160px;
    padding: 15px 0 18px;
  }
}

.example__btn {
  flex-shrink: 0;
}

.example__desktop-wrapper:not(.example__before-after) {
  flex-shrink: 0;
}

.example-item__value {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  line-height: 24px;
  color: $title-color;
  text-transform: uppercase;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .example-item__value {
    font-size: 30px;
    line-height: 37px;
  }
}

.example-item__title {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 12px;
  color: $content-color;
  margin: 0 auto;
  display: block;
  text-align: center;
  min-width: 80px;
  position: absolute;
  bottom: -16px;
  transform: translateX(-50%);
  left: 50%;
  background-color: $bg-color;
  padding: 0 9px;
}

@media (min-width: $tablet-width) {
  .example-item__title {
    font-size: 14px;
    line-height: 14px;
    white-space: nowrap;
    bottom: -8px;
    background-color: rgb(255, 255, 255);
  }
}

@media (min-width: $desktop-width) {
  .example-item__title {
    background-color: $bg-color;
  }
}

@media (min-width: $tablet-width) {
  .example__before-after {
    position: relative;
    height: 590px;
  }
}

.example__img {
  left: -19px;
  top: -3px;
  margin: 37px 0 25px -20px;
}

@media (min-width: $tablet-width) {
  .example__img {
    width: 690px;
    height: auto;
    left: 17px;
    top: 3px;
    margin: 53px auto 23px;
    position: absolute;
  }
}

@media (min-width: $desktop-width) {
  .example__img {
    left: -30px;
    top: -30px;
    margin: 0 0 10px;
  }
}

@media (min-width: $tablet-width) {
  .example__img--before {
    clip: rect(auto, 365px, auto, auto);
  }
}

@media (min-width: $desktop-width) {
  .example__img--before {
    clip: rect(auto, 365px, auto, auto);
  }
}

.example__img--after {
  display: none;
}

@media (min-width: $tablet-width) {
  .example__img--after {
    display: block;
    clip: rect(auto, auto, auto, 338px);
  }
}

@media (min-width: $desktop-width) {
  .example__img--after {
    clip: rect(auto, auto, auto, 365px);
  }
}

.example__price {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: $content-color;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .example__price {
    margin: 0 0 0 auto;
    font-size: 20px;
    width: 192px;
    text-align: right;
    padding-top: 8px;
    line-height: 29px;
  }
}

@media (min-width: $desktop-width) {
  .example__price {
    width: 435px;
    text-align: left;
  }
}

.example__img-wrapper {
  width: 280px;
  overflow: hidden;
}

@media (min-width: $tablet-width) {
  .example__img-wrapper {
    width: 690px;
    overflow: hidden;
  }
}

@media (min-width: $desktop-width) {
  .example__img-wrapper {
    width: 610px;
    height: 517px;
    overflow: hidden;
    margin-bottom: 43px;
  }
}

@media (min-width: $desktop-width) {
  .example__price-value {
    margin-left: 59px;
  }
}
