.example {
  background-color: $bg-color;
}

.example__container {
  padding: 0 20px 34px;
  display: flex;
  flex-direction: column;
}

@media (min-width: $tablet-width) {
  .example__container {
    padding: 0 30px 70px;
  }
}

@media (min-width: $desktop-width) {
  .example__container {
    padding: 0 110px;
  }
}

.example__title {
  margin: 0 0 25px;
  font-weight: 400;
  font-size: 36px;
  line-height: 60px;
  color: $title-color;
}

.example__content {
  margin-bottom: 27px;
  padding-right: 5px;
  font-size: 14px;
  line-height: 18px;
  font-family: "Arial", "Helvetica", sans-serif;
  color: $content-color;
}
