.page-header {
  position: relative;
  min-height: 66px;
  width: 100%;
}

.page-header__container {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  padding: 12px 20px;
}

@media (min-width: $tablet-width) {
  .page-header__container {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (min-width: $desktop-width) {
  .page-header__container {
    padding-left: 70px;
    padding-right: 70px;
  }
}

.page-header__logo {
  display: block;
  width: 100%;
  max-width: 190px;
}

@media (min-width: $tablet-width) {
  .page-header__logo {
    max-width: 176px;
  }
}

@media (min-width: $desktop-width) {
  .page-header__logo {
    max-width: 202px;
  }
}

.page-header__btn {
  display: none;
}

.page-header__nav {
  display: none;
  width: 100%;
}

@media (min-width: $tablet-width) {
  .page-header__nav {
    display: block;
    margin: 0;
    width: auto;
  }
}