.program {
  align-items: flex-start;
  background-color: $bg-color;
  background-origin: content-box;
  background-repeat: no-repeat;
  color: $title-color;
  display: flex;
  flex-direction: column;
  padding: 29px 20px 18px;
  position: relative;
}

.program--slim::after,
.program--slim::before {
  content: "";
  height: 50px;
  position: absolute;
  top: 20px;
}

.program--slim::before {
  background-color: $base-color;
  border-radius: 50%;
  left: 22px;
  width: 50px;
}

.program--slim::after {
  background-image: url(../img/icon-cat-slim.svg);
  background-repeat: no-repeat;
  left: 30px;
  width: 45px;
}

.program--pro::before {
  background-color: $base-color;
  border-radius: 50%;
  position: absolute;
  content: "";
  left: 22px;
  top: 23px;
  height: 50px;
  width: 50px;
}

.program--pro::after {
  background-image: url(../img/icon-cat-pro.svg);
  background-repeat: no-repeat;
  content: "";
  height: 30px;
  left: 25px;
  margin-left: -12px;
  margin-top: 12px;
  position: absolute;
  top: 23px;
  width: 68px;
}

@media (min-width: $tablet-width) {
  .program {
    padding: 78px 280px 60px 53px;
  }
}

@media (min-width: $desktop-width) {
  .program {
    padding: 0;
  }
}

@media (min-width: $tablet-width) and (max-width: 1299px) {
  .program--slim::before {
    height: 200px;
    left: calc(100% - 260px);
    top: 52%;
    transform: translateY(-50%);
    width: 200px;
  }

  .program--pro::after,
  .program--pro::before,
  .program--slim::after {
    height: 195px;
    left: calc(100% - 233px);
    top: 48%;
    transform: translateY(-50%);
    width: 150px;
  }

  .program--pro {
    padding-right: 315px;
  }

  .program--pro::after,
  .program--pro::before {
    height: 200px;
    left: calc(100% - 260px);
    top: 52%;
    width: 200px;
  }

  .program--pro::after {
    height: 115px;
    left: calc(100% - 285px);
    top: 49%;
    width: 270px;
  }
}

@media (min-width: $desktop-width) {
  .program--slim::before {
    height: 104px;
    left: 49px;
    top: 44px;
    width: 104px;
  }
}

@media (min-width: $desktop-width) {
  .program--slim::after {
    height: 106px;
    left: 65px;
    top: 37px;
    width: 71px;
  }
}

@media (min-width: $desktop-width) {
  .program--pro::before {
    height: 99px;
    left: 52px;
    top: 47px;
    width: 99px;
  }
}

@media (min-width: $desktop-width) {
  .program--pro::after {
    height: 58px;
    left: 45px;
    top: 57px;
    width: 134px;
  }
}

.program__title {
  font-size: 24px;
  font-weight: 400;
  line-height: 37px;
  margin: 0 0 29px 72px;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .program__title {
    font-size: 36px;
    line-height: 37px;
    margin: 0 0 24px 0;
  }
}

@media (min-width: $desktop-width) {
  .program__title {
    padding-left: 165px;
    width: auto;
    margin-bottom: 75px;

  }
}

.program__description {
  border-bottom: 1px solid rgb(217, 217, 217);
  color: $content-color;
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 14px;
  line-height: 18px;
  margin: 0 0 18px;
  padding-bottom: 23px;
  width: 100%;
}

@media (min-width: $tablet-width) {
  .program__description {
    border-bottom: none;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 36px;
  }
}

@media (min-width: $desktop-width) {
  .program__description {
    width: 100%;
    padding-left: 2px;
    padding-bottom: 0;
    margin-bottom: 30px;
  }
}

.program__link {
  color: $title-color;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  position: relative;
  text-transform: uppercase;
  margin-bottom: 4px;
}

.program__link::after {
  background: url(../img/icon-right-arrow-long.svg) no-repeat left center;
  background-size: contain;
  content: "";
  height: 11px;
  margin-left: 12px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 54px;
}

.program__link:hover::after,
.program__linkfocus::after {
  background-image: url(../img/icon-right-arrow-verylong.svg);
}

.program__link:active {
  opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .program__link {
    font-size: 20px;
    line-height: 20px;
  }

@media (min-width: $desktop-width) {
  .program__link {
    margin-bottom: 60px;
  }
}

  .program__link::after {
    margin-left: 23px;
  }
}
