.programs {
  position: relative;
  padding: 0 20px;
}

@media (min-width: $tablet-width) {
  .programs {
    padding: 0 30px;
  }
}

@media (min-width: $desktop-width) {
  .programs {
    padding: 0 110px;
  }
}

.programs__list {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
}

@media (min-width: $desktop-width) {
  .programs__list {
    flex-flow: row wrap;
    justify-content: space-between;
  }
}

.programs__item {
  margin-top: 20px;
}

@media (min-width: $desktop-width) {
  .programs__item {
    width: 462px;
  }
}
