.programs__container {
  padding: 0 20px;
}

@media (min-width: $tablet-width) {
  .programs__container {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (min-width: $desktop-width) {
  .programs__container {
    padding-left: 70px;
    padding-right: 70px;
  }
}

.programs__list {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: 0;
  padding: 0;
  list-style: none;
}

@media (min-width: $desktop-width) {
  .programs__list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.programs__item {
  margin-top: 20px;
}

@media (min-width: $desktop-width) {
  .programs__item {
    width: 425px;
  }
}