.promo__container {
  position: relative;
  width: 100%;
  padding: 0 20px;
}

@media (min-width: $tablet-width) {
  .promo__container {
    padding: 0 30px;
  }
}

@media (min-width: $desktop-width) {
  .promo__container {
    padding: 0 110px;
    width: 1200px;
  }
}

.promo {
  background: url(../img/index-background-mobile@1x.jpg) no-repeat top;
  background-size: 320px 305px;
}

@media (min-width: $tablet-width) {
  .promo {
    background: 0 0;
  }
}

.promo::before {
  background-color: $base-color;
  content: "";
  height: 305px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

@media (min-width: $tablet-width) {
  .promo::before {
    content: none;
  }
}

.promo__wrapper {
  align-items: center;
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  padding-top: 26px;
  position: relative;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .promo__wrapper {
    align-items: flex-start;
    color: $title-color;
    padding: 0 200px 530px 90px;
    position: relative;
  }
}

@media (min-width: $desktop-width) {
  .promo__wrapper {
    min-height: 572px;
    padding: 45px 0 0 80px;
    width: 50%;
  }
}

.promo__title {
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  margin: 0;
  text-align: center;
  width: 100%;
}

@media (min-width: $tablet-width) {
  .promo__title {
    color: $title-color;
    font-size: 60px;
    line-height: 60px;
    text-align: left;
  }
}

.promo__content {
  font-size: 14px;
  line-height: 14px;
  margin-top: 23px;
  text-align: center;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .promo__content {
    font-size: 20px;
    line-height: 20px;
    margin: 45px 0;
  }
}

@media (min-width: $desktop-width) {
  .promo__content {
    margin-bottom: 50px;
  }
}

.promo__img {
  margin-top: 13px;
}

@media (min-width: $tablet-width) {
  .promo__img {
    bottom: -29px;
    height: 610px;
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    width: auto;
    z-index: -1;
  }
}

@media (min-width: $desktop-width) {
  .promo__img {
    height: 499px;
    right: -116px;
    top: -47px;
    width: 552px;
  }
}

.promo__btn {
  font-size: 14px;
  line-height: 18px;
  width: 100%;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .promo__btn {
    font-size: 20px;
    width: auto;
    padding: 0 25px;
  }
}
