.promo__container {
  position: relative;
  margin-bottom: 23px;
}

.promo {
  background: url(../img/index-background-mobile@1x.jpg) no-repeat top;
}

@media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
  .promo {
    background: url(../img/index-background-mobile@2x.jpg) no-repeat top;
    background-size: auto 305px;
  }
}

@media (min-width: $tablet-width) {
  .promo {
    background: 0 0;
    margin-bottom: 25px;
  }
}

@media (min-width: $desktop-width) {
  .promo {
    margin-bottom: 87px;
  }
}

.promo::before {
  background-image: linear-gradient(to bottom, rgb(100, 168, 59) 0, rgb(100, 168, 59) 305px, transparent 305px);
  content: "";
  height: 305px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

@media (min-width: $tablet-width) {
  .promo::before {
    content: none;
  }
}

.promo__wrapper {
  align-items: center;
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  padding: 26px 20px 0;
  position: relative;
  text-align: center;
  box-sizing: border-box;
  width: 320px;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .promo__wrapper {
    align-items: flex-start;
    color: $title-color;
    padding: 0 200px 485px 90px;
    position: relative;
    width: 768px;
  }
}

@media (min-width: $desktop-width) {
  .promo__wrapper {
    min-height: 490px;
    padding: 0 0 0 96px;
    width: 50%;
    width: 1300px;
  }
}

.promo__title {
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  margin: 0;
  text-align: center;
  width: 100%;
}

@media (min-width: $tablet-width) {
  .promo__title {
    padding: 30px 26px 11px;
    color: $title-color;
    font-size: 60px;
    line-height: 60px;
    text-align: left;
  }
}

@media (min-width: $desktop-width) {
  .promo__title {
    width: 420px;
    padding: 20px 93px 0px;
  }
}


.promo__content {
  font-size: 14px;
  line-height: 14px;
  margin: 26px 5px 15px 0;
  text-align: center;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .promo__content {
    font-size: 20px;
    line-height: 20px;
    margin: 30px 28px;
  }
}

@media (min-width: $desktop-width) {
  .promo__content {
    margin: 44px 94px 53px;
  }
}

.promo__img {
  margin-top: 13px;
}

@media (min-width: $tablet-width) {
  .promo__img {
    bottom: -29px;
    height: 610px;
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    width: auto;
    z-index: -1;
  }
}

@media (min-width: $desktop-width) {
  .promo__img {
    height: 494px;
    left: 294px;
    top: -68px;
    width: auto;
  }
}

.promo__btn {
  font-size: 14px;
  line-height: 18px;
  padding: 0 73px;
}

@media (min-width: $tablet-width) {
  .promo__btn {
    font-size: 20px;
    width: auto;
    padding: 5px 25px;
    margin: 18px 31px;
  }
}

@media (min-width: $desktop-width) {
    .promo__btn {
  padding: 7px 25px;
  margin: 0 95px;
  }
}
